@import '../../vars.scss';

.richText {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #868E96;

  b, strong {
    color: #343A40;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 16px !important;
    font-size: 24px;
    line-height: 32px;
  }

  p {
    margin-bottom: 32px !important;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #868E96;

    b, strong {
      color: #343A40;
    }

    @media (max-width: $tablet-width) {
      margin-bottom: 16px !important;
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.content {
  margin-bottom: 32px;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
  }
}
