@import '../../vars.scss';

$top-bar-height: 136px;
$top-bar-mobile-height: 88px;
$top-bar-sticky-height: 88px;

.fakeTopBar {
  display: flex;
  width: 100%;
  height: $top-bar-height;

  @media (max-width: $mobile-width) {
    height: $top-bar-mobile-height;
  }
}

.topBar {
  display: flex;
  align-items: center;
  position: relative;
  height: $top-bar-height;
  padding: 0 112px;

  @media (max-width: $tablet-width) {
    padding: 0 48px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
    height: $top-bar-mobile-height;
  }

  &.sticky {
    position: fixed;
    z-index: 99;
    top: -$top-bar-height;
    height: $top-bar-sticky-height;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: slidein 0.3s forwards;

    .logo {
      height: 24px;
    }

    @keyframes slidein {
      from {
        top: -$top-bar-height;
      }

      to {
        top: 0;
      }
    }
  }

  .menuLinks {
    display: flex;

    @media (max-width: $tablet-width) {
      display: none;
    }

    > div {
      align-items: center;
      margin-right: 48px;
    }
  }

  .menuWrapper {
    position: absolute;
    top: 50%;
    right: 230px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 0;
    border-radius: 100%;
    z-index: 1000;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      right: 166px;
    }

    @media (max-width: $mobile-width) {
      right: 4px;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    &.open {
      display: block;
      background-color: #d9d9db;

      .menu {
        display: block;
      }
    }

    .menu {
      display: none;
      position: absolute;
      top: 50px;
      right: 0px;
      padding: 16px;
      background: white;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .authButton {
    position: absolute;
    right: 112px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation: appear 0.3s forwards;

    @keyframes appear {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    @media (max-width: $tablet-width) {
      right: 48px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
