@import '../../../vars.scss';

.sectionTitle {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 104px;
  line-height: 96px;
  color: #343A40;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 80px;
    line-height: 80px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14vw;
    line-height: 100%;
  }
}
