@import '../../vars.scss';

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1001;
  background: hsla(0, 0%, 0%, 0.2);
  opacity: 0;
  animation: appear 0.2s forwards;

  &.open {
    display: block;
    opacity: 1;
  }

  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}
