.customRichText {
  max-width: 600px;
  font-size: 14px;
  color: rgb(85, 72, 7);
}

.customRichText ul li {
  font-weight: bold;
  font-size: 16px;
}

.customRichText a {
  font-weight: bold;
  color:rgb(21, 124, 155);
}

.customRichText a:hover {
  background-color: rgb(21, 124, 155);
  color: white;
}
