@import '../../vars.scss';

.header {
  display: flex;
  align-items: center;

  .title {
    margin-left: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #090A0B;

    &.titleSecondPage {
      margin-left: 8px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.introText {
  margin: 24px 0;
  font-size: 16px;
  line-height: 24px;
  color: #868E96;

  a {
    color: #868E96;
    text-decoration: underline;
  }
}

.settings {
  padding-bottom: 16px;

  .setting {
    margin-bottom: 16px;

    .settingTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .settingTitleText {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #090A0B;
      }
    }

    .text {
      margin-top: 4px;
      max-width: 334px;
      font-size: 14px;
      line-height: 16px;
      color: #868E96;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}
